@import "colors";

nav {
  align-items: center;
  background-color: $first;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  text-transform: capitalize;
  top: 0%;
  width: 100%;
  z-index: 10;

  > h1 {
    text-transform: uppercase;
  }
  > main {
    display: flex;
    justify-content: flex-end;
    width: 70%;

    > a {
      color: $dark;
      margin: 1rem;

      &:hover {
        color: $third;
      }
    }
  }
}
